<nav class="navbar navbar-expand-md fixed-center bg-light ">
  <a href="/"><img class="resize" alt="" src="https://cdn.discordapp.com/attachments/1096098728739356672/1115339106067689482/logo1.png" /></a>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto ">
        
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="/childs">Donation</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="/articles">Articles</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

      </ul>
      
      <ul class="navbar-nav ml-auto">
        {% if session["username"] == "admin" or session["username"] == "Admin" %}

        <a href='/dashboard'>
          <button class="nav-log-out-button">Dashboard</button>
        </a>
        {% endif %}
        
        {% if session["logged_in"] == True %}
        <a  href='/logout'>
          <button class="nav-dashboard-button">Log-Out</button>
        </a>

        <a href="/profile/{{ session['id'] }}" >
          <img class="resize-profile" src="{{ session['pp'] }}" >
        </a>
        
        {% else %} 
        

        <a href='/login'>
          <button class="login-button">Log-In</button>
        </a>

        <a href='/register'>
          <button class="register-button">Register</button>
        </a>
        
        {% endif %}

      </ul>
      
    </div>

  </nav>