.child-name2 {
    margin-top: 14px;
    font-weight: normal;
    font-size: 23px;
}
.article-title{
    font-weight: bold;
    font-size: 28px;
}
.Author-Date{
    font-weight: bold;
    font-size: 23px;
}
.liner3{
    width:750px;
    height: 3px;
    text-align:left;
    margin-left:0;
    color:rgb(6, 130, 255);
    background-color:rgb(6, 130, 255);
}
