
.register-logo {
  position: absolute;
  top: 300px;
  left: 90px;
  width: 217px;
  height: 167px;
  object-fit: cover;
}
.register-logo-back {
  position: absolute;
  top: 195px;
  left: 65px;
  width: 255.15px;
  height: 326px;
}

.form-control {
  background-color: #f8f9fa;
  color: rgb(0, 0, 0);
  width: 25%;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: width 0.4s ease-in-out;
}
.form-control:focus{
  background-color: rgb(255, 255, 255);
  width: 30%;
}

