{% extends "layout.html" %}


{% block body %}

<body>
  <a class="about-parent">
    <div class="about">
      
      <nav class="nav-bar-wrapper">
        <nav class="navbar shadow navbar-expand-md fixed-center bg-light "></nav>
      </nav>
      <div class="menu">
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h1 class="be-the-change-container">
        <span>Be The </span>
        <span class="change">Change&#10024;</span>
      </h1>
      <p class="support-children-in">Support Children in Need</p>
      <div class="vector-parent">
        <img class="vector-icon" alt="" src="static\images\hand-heart.png" />

        <b class="donation1">Donation</b>
        <div class="change-childrens-lifes">
          Change Children's Lifes: Donate Now
        </div>
        <button class="learn-more-button1">
          <div class="learn-more-text1">Learn More</div>
        </button>
      </div>
      <div class="volunteer-parent">
        <b class="volunteer">Volunteer</b>
        <div class="make-a-difference">
          Make a Difference Today: Volunteer with Us! Join our team to support
          children's education, health, and wellbeing. Sign up now!
        </div>
        <button class="learn-more-button2">
          <div class="learn-more-text2">Learn More</div>
        </button>
        <img
          class="fluentperson-heart-20-regular-icon"
          alt=""
          src="static\images\human-heart.png"
        />
      </div>
      <div class="help-parent">
        <b class="help">Help</b>
        <div class="make-a-difference">
          Make Children's Future Brighter With Your Help
        </div>
        <button class="learn-more-button2">
          <div class="learn-more-text2">Learn More</div>
        </button>
        <img class="vector-icon1" alt="" src="static\images\balloon-heart.png" />
      </div>
      <h2 class="about-us">ABOUT US</h2>
      <h2 class="we-are-here-container">
        <p class="we-are-here">We are here to support</p>
        <p class="childrens">
          <span>Children</span>
          <span class="span">.</span>
        </p>
      </h2>
      <img class="za-hando" alt="" src="static\images\open-hand.png" />

      <div class="category-list">
        <img class="category-list-child" alt="" src="static\images\hand-heart-circle.png" />

        <img class="category-list-item" alt="" src="static\images\balloon-heart-circle.png" />

        <img class="category-list-inner" alt="" src="static\images\human-heart-circle.png" />

        <div class="donation-parent">
          <div class="donation2">&#10024;Donation</div>
          <div class="your-donation-can">
            Your donation can help change a child's life today. Every
            contribution, big or small, can make a significant impact on
            children's education, health, and wellbeing.
          </div>
        </div>
        <div class="help-group">
          <div class="help1">&#10024;Help</div>
          <div class="were-here-to">
            We're here to help children in need, but we can't do it alone.
            Your support can make a difference in a child's life today. If you
            know a child in need or have questions about how you can help,
            please don't hesitate to reach out to us.
          </div>
        </div>
        <div class="volunteer-group">
          <div class="help1">&#10024;Volunteer</div>
          <div class="volunteering-is-a">
            Volunteering is a great way to make a positive impact in a child's
            life. Join our team of dedicated volunteers and help support
            children's education, health, and wellbeing.
          </div>
        </div>
      </div>
      <div class="about-child"></div>
      <h1 class="our-dev-team-container">
        <span>Our </span>
        <span class="change">DEV</span>
        <span> Team &#128187; </span>
      </h1>
      <p class="our-dev-team">
        Our DEV Team is a group of talented and dedicated individuals who are
        committed to creating innovative solutions that improve the lives of
        children in need. With expertise in software development, design, and
        project management, our team works hard to build and maintain our
        platform, ensuring that it meets the highest standards of quality and
        functionality.
      </p>
      <img class="person-1-icon" alt="" src="static\images\mustafa-photo.png" />

      <img class="person-2-icon" alt="" src="static\images\birol-photo.png" />

      <img class="person-3-icon" alt="" src="static\images\özgür-photo.png" />

      <div class="mustafa-evren">Mustafa Evren</div>
      <div class="birol-uzun">Birol Uzun</div>
      <div class="zgr-glsoy">Özgür Gülsoy</div>
      <div class="developer">Developer</div>
      <div class="developer1">Developer</div>
      <div class="developer2">Developer</div>

      <div class="vector-group">
        <img class="vector-icon2" src="static\images\github-icon.png" />

        <img class="frame-child" src="static\images\linkedin-icon.png" />

        <img class="vector-icon3" src="static\images\instagram-icon.png" />
        
      </div>

      <div class="vector-group2">
        <img  class="vector-icon2" src="static\images\github-icon.png" />
        
        <img class="frame-child" src="static\images\linkedin-icon.png" />
      
        <img class="vector-icon3" src="static\images\instagram-icon.png" />
        
      </div>

      <div class="vector-group3">
        <img class="vector-icon2" src="static\images\github-icon.png" />

        <img class="frame-child" src="static\images\linkedin-icon.png" />

        <img class="vector-icon3" src="static\images\instagram-icon.png" />
        
      </div>
    </div>
  </a>

  <script>
    var signUp = document.getElementById("signUp");
    if (signUp) {
      signUp.addEventListener("click", function (e) {
        // Please sync "Sign Up" to the project
      });
    }
    </script>

{% endblock body %}
    



