{% extends "layout.html" %}


{% block body %}
<p class="Head-Article">Articles</h3>
<hr>

{% if articles %}

{% for i in range(0, articles|length, 3) %}
    <div class="row">
        {% for article in articles[i:i+3] %}
            <div class="col-md-4">
                <div class="card-articles">
                    <div class="article-body">
                        <img class="articles-photo" src="{{article.thumbnail_url}}">
                        <hr>
                        <p class = "article-list">{{article.title}}</p>
                        <a href="/article/{{article.id}}"><button class="article-button">Read Now</button> </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% else %}
<div class = "alert alert-danger">There is no articles in this page.</div>
    
{% endif %}
    
{% endblock body %}
    