{% extends "layout.html" %}


{% block body %}
    
{% if article %}
<div class="content-box">
<p class="article-title">{{ article.title }}</p>
<hr class="liner3">
<p class="child-name2"> <span class="Author-Date"> Author :</span> {{article.author}} </p>

<p class="child-name2"> <span class="Author-Date"> Date :</span> {{article.created_date}} </p>



    {{article.content|safe}}
  </div>
{% else %}

<div class = "alert alert-warning">
    Article not found!
</div>

{% endif %}




    
{% endblock body %}
    