{% extends "layout.html" %}


{% block body %}


{% if child %}


<div>
    <img class="child-photo-1" src="{{ child.child_photo_url }}"  >
    <hr class="profile-line">
</div>
<div>
<p class="child-name2"> <span class="name2">Name:</span> {{ child.name }}</p>

<p class="child-age2"> <span class="age2"> Age:</span> {{child.age}}</p>
</div>
<p class="story2">Story</p>
<p class="about-section">{{child.about}}</p>
<div>
    <a href='/donate/{{ child.id }}'>
        <button class="donate-button-child">Donate Now</button>
    </a>
</div>

{% else %}

<div class = "alert alert-warning">
    Child not found!
</div>
    
{% endif %}
    



    
{% endblock body %}
    