{% extends 'layout.html' %}

{% block body %}
<body>
  <div class="contact-parent">
    <div class="contact">
      <img class="contact-child"  src="static\images\children-contact.png" />

      <img class="contact-item" alt="" src="static\images\blue-square.png" />

      <div class="lets-make-an-container">
          Let's make an
          <span class="impact">impact</span>
      </div>
      <div class="category-2">
        <div class="girne-sokak-no12">Girne Sokak No:12, Girne, TRNC</div>
        <img class="category-2-child" alt="" src="static\images\place-logo.png" />

        <div class="our-location">Our Location</div>
      </div>
      <div class="category-4">
        <div class="girne-sokak-no121">Girne Sokak No:12, Girne, TRNC</div>
        <img class="category-4-child" alt="" src="static\images\place-logo2.png" />

        <div class="our-location1">Our Location</div>
      </div>
      <div class="category-3">
        <div class="div">+90 533 123 4567</div>
        <div class="our-location">Our Phone Number</div>
        <img
            class="blue-phone-7152-1-2"
            alt=""
            src="static\images\phone-logo.png"
          />
      </div>
      <div class="category-5">
        <div class="div1">+90 533 123 4567</div>
        <img class="category-5-child" alt="" src="static\images\phone-logo.png" />

        <div class="our-location1">Our Phone Number</div>
      </div>
      <img class="mask-group-icon" alt="" src="static\images\white-circle.png" />

      <div class="contact1">Contact</div>
      <div class="please-fill-out">
          Please fill out the email form below. We'll get back to you as soon as
          possible.
      </div>
      <input class="input-form" type="email" />

      <button class="submit-button">
        Submit
      </button>

    </div>
  </div>
</body>
</html>
{% endblock body %}