{% extends 'layout.html' %}

{% block body %}

{% if profile %}
<div class="content-box">
<div><img class="resize-profile-main" src="{{ profile.profile_photo_url }}"> </div>
<div><h3>Name :<span class="child-name2">{{ profile.name }}</span></h3></div>
<div><h3>Username : <span class="child-name2">{{ profile.username }}</span></h3></div>
<div><h3>Email : <span class="child-name2">{{ profile.email }}</span></h3></div>
<div><h3>Phone Number : <span class="child-name2">{{ profile.phone }}</span></h3></div>
<hr >

<a href="/profile/edit/{{ profile.id }}">
  <button class="Edit-Profile-Button ">Edit Profile</button>
</a>
<a href="/profile/changepassword/{{ profile.id }}">
  <button class="Edit-Password-Button">Change Password</button>
</a>
<hr >
{% if donations %}

<h3>Donation History</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Donation ID</th>
        <th scope="col">Donation Type</th>
        <th scope="col">Donation Amount</th>
        <th scope="col">Donator Name</th>
        <th scope="col">Donator ID</th>
        <th scope="col">Donated Child Name</th>
        <th scope="col">Donated Child ID</th>
        <th scope="col">Donation Date</th>
      </tr>
    </thead>
    <tbody>
      
        
        {% for donation in donations %}
            
        <tr>
            <th scope = "row"> {{ donation.id }} </th>
            <td> {{ donation.type }} </td>
            <td> {{ donation.amount }} </td>
            <td> {{ donation.userName }} </td>
            <td> {{ donation.userID }} </td>
            <td> {{ donation.childName }} </td>
            <td> {{ donation.childID }} </td>
            <td> {{ donation.donationDate }} </td>


        
          </tr>

        {% endfor %}
            


    </tbody>
  </table>
  
  <hr>
<br>
</div>
{% endif %}

{% else %}

<div class = "alert alert-warning">
    Profile not found!
</div>
    
{% endif %}
    
    
{% endblock body %}

    