{% extends "layout.html" %}


{% block body %}
{% from "includes/formhelpers.html" import render_field %}    
<h3>Update Children</h3>
<hr>

<form method = "post">
    
    {{ render_field(form.name,class = "form-control") }}
    {{ render_field(form.age,class = "form-control") }}
    {{ render_field(form.iban,class = "form-control") }}
    {{ render_field(form.about,class = "form-control") }}
    <button type="submit" class="btn btn-danger">Update Children</button>

</form>
    
{% endblock body %}
